@charset "utf-8";
/* CSS Document */
.whole{ width:950px; margin:0 auto}
  .paihang{ width:215px; height:392px; background:url(../gouwucheImages/paihang.jpg);float:left}
  .productDetail{ width:720px; height:800px; float:left; margin-left:10px}
    .pro_biao{width:720px; height:30px; line-height:30px}
	  .pro_biao span{ margin-left:30px}
	.pro_det{width:719px; height:320px; }
	  .pro_det_img{ width:300px; height:300px; float:left}
      .pro_det_img img{ border:#999 1px solid}
	  .pro_det_xin{ width:400px; height:300px; margin-left:310px}
	.jieshao_biaoti{ width:720px; height:40px; background:url(../gouwucheImages/jieshao.gif);}
	.jieshao_det{width:720px; height:80px; border-bottom:#999 1px dashed }

